<!-- flask_skeleton.html -->
<!-- Lead (and only) Developer: Bobby Joe 3.0 -->

<!-- Let the computer know to read the script in HTML -->
<html>

<!-- create a space for the operating insturctions for how the webpage should look -->
	<head>
		<title> Flask Skeleton -  Home </title>
		<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='flask_skeleton_style.css') }}">


	</head>


<!-- create a space to code/construct the actual webpage -->
	<body>
		<p id="message"> This is a new Flask app </p>



<!-- close the space to code/construct the actual webpage -->
	</body>





<!-- Let the computer know you are done writing in HTML -->
</html>